*{
    box-sizing: border-box;
}
.cart{
    /* border: 1px solid red; */
    padding: 1vw;
}
.clear_btn{
    position: relative;
    float: right;
    background-color: white;
    border: 1px solid rgb(56, 163, 251);
    border-radius: 4px;
}
.clear_btn:hover{
    background-color: rgb(56, 163, 251);
    color: white;
}
.cart-wrapper{
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    
}
.cart_items_container{
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 10px;
    box-shadow: 0px 3px 9px 2px rgb(182, 181, 181);
    margin-bottom: 2vw;
    margin-left: 6vw;
}

.image{
    /* border: 2px solid rgb(255, 0, 0); */
    display: block;
    width: 100%;
    height: auto; 
}
.item_image{
    /* border: 2px solid rgb(5, 0, 0); */
    width: 222px;
}
.cart_info{
    /* border: 2px solid red; */
    margin-top: 2vh;
}
.item_name{
    text-align: center;
    font-weight: 600;
    font-size: large;
    margin-bottom: 2vh;
}
.add_btn{
    /* background-color: rgb(0, 170, 255); */
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 0px;
    border-right: 2px solid rgb(86, 85, 85);
}
.sub_btn{
    /* background-color: rgb(0, 170, 255); */
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 0px;
    border-left: 2px solid rgb(86, 85, 85);
}
.total_items{
    padding: 0rem 1rem 0rem 1rem;
}
.price_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.add_sub_btns{
    border: 2px solid rgb(86, 85, 85);
    border-radius: 8px;
    display: flex;
    
}
.form{
    width: 8vw;
    border-radius: 5px;
}